.not-found{
    min-height: 70vh;
    text-align: center;
}
.not-found img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.not-found a{
    font-weight: 900;
    color: coral;
}